## Imports

In [1]:
from requests import get
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

## Exercises

By the end of this exercise, you should have a file named acquire.py that contains the specified functions. If you wish, you may break your work into separate files for each website (e.g. acquire_codeup_blog.py and acquire_news_articles.py), but the end function should be present in acquire.py (that is, acquire.py should import get_blog_articles from the acquire_codeup_blog module.)

### 1. Codeup Blog Articles

Visit Codeup's Blog and record the urls for at least 5 distinct blog posts. For each post, you should scrape at least the post's title and content.

Encapsulate your work in a function named get_blog_articles that will return a list of dictionaries, with each dictionary representing one article. The shape of each dictionary should look like this:

In [2]:
{
    'title': 'the title of the article',
    'content': 'the full text content of the article'
}

{'title': 'the title of the article',
 'content': 'the full text content of the article'}

Plus any additional properties you think might be helpful.

---

### Set URLS

In [3]:
# get urls 
url1 = "https://codeup.com/data-science/jobs-after-a-coding-bootcamp-part-1-data-science/"
url2 = "https://codeup.com/featured/what-jobs-can-you-get-after-a-coding-bootcamp-part-2-cloud-administration/"
url3 = "https://codeup.com/workshops/san-antonio/in-person-workshop-learn-to-code-javascript-on-7-26/"
url4 = "https://codeup.com/workshops/in-person-workshop-learn-to-code-python-on-7-19/"
url5 = "https://codeup.com/tips-for-prospective-students/is-our-cloud-administration-program-right-for-you/"

### URL 1

In [4]:
# set headers and response
headers = {'User-Agent': 'CodeUp Data Science'}
response = get(url1, headers=headers)

In [5]:
# sanity check
print(response.text[:400])

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="pingback" href="https://codeup.com/xmlrpc.php" />

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><script id="diviarea-loader">window.DiviPopupData=wi

In [6]:
# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
soup.select('div.et_post_meta_wrapper')

[<div class="et_post_meta_wrapper">
 <h1 class="entry-title">What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science</h1>
 <p class="post-meta"><span class="published">Jul 7, 2022</span> | <a href="https://codeup.com/category/data-science/" rel="category tag">Data Science</a>, <a href="https://codeup.com/category/featured/" rel="category tag">Featured</a>, <a href="https://codeup.com/category/tips-for-prospective-students/" rel="category tag">Tips for Prospective Students</a></p><img alt="Data Science Biog Header" class="" height="675" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 1080px, 100vw" src="https://199lj33nqk3p88xz03dvn481-wpengine.netdna-ssl.com/wp-content/uploads/2022/07/CA-Blog-Header-1.png" srcset="https://199lj33nqk3p88xz03dvn481-wpengine.netdna-ssl.com/wp-content/uploads/2022/07/CA-Blog-Header-1.png 1080w, https://199lj33nqk3p88xz03dvn481-wpengine.netdna-ssl.com/wp-content/uploads/2022/07/CA-Blog-Header-1-480x279.png 480w" width="1080"/>
 </div>,
 <div class="et_post_meta_wrapper">
 </div>]

### With the post meta wrapper I can view
- The entry-title
- The span class published
- Category Tag
- entry-content

In [8]:
# get the title of the article
title = soup.find('h1', class_ = 'entry-title').text
title

'What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science'

In [9]:
# get the date published
published = soup.find('span', class_='published').text
published

'Jul 7, 2022'

In [10]:
# get article category
category = soup.find('a', rel='category tag').text
category

'Data Science'

In [11]:
#get article content
content = soup.find('div', class_='entry-content').text.strip().replace('\n', ' ')
content

'If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.*\xa0In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries.\xa0Today we will be diving into our Data Science program, with four potential job titles you could take on! Program Overview\xa0 During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions. Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\xa0 1. Data Scientist\xa0 Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to Zip Recruiter, the average entry-level salary for a Data Scientist in Texas is $60,677. 2. Data Analyst A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to Indeed, the average entry-level salary for a Data Analyst is $60,332. 3. Machine Learning Engineer\xa0 A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to Salary.com, the average entry-level salary for a ML Engineer is $115,795. 4. Business Intelligence Analyst\xa0 A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to Payscale, the average entry-level salary for a BI Analyst is $58,627. We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it.\xa0 This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life.\xa0 If you’re ready, apply today and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort.\xa0 \xa0 *Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position.'

In [12]:
def parse_blog_articles(url):
    """
    This function used together with the get_blog_articles() function, 
    parses the html from the website and displays it in python
    """
    url = url
    
    # establish header
    headers = {'User-Agent':'CodeUp Data Science'}
    resposne = get(url, headers=headers)
    
    # create soup variable containing response content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # create a dictionary that holds each url and its content
    output = {}
    output['title'] = soup.find('h1', class_ = 'entry-title').text
    output['published'] = soup.find('span', class_='published').text
    output['category'] = soup.find('a', rel='category tag').text
    output['content'] = soup.find('div', class_='entry-content').text.strip().replace('\n', ' ')
    
    return output

In [13]:
def get_blog_articles(url):
    """
    This function takes in a list of url from CodeUp blod articles.
    Used with pare_blog_articles, it looks for title, published date, category, and content
    then displays them.
    """
    output = []
    
    for urls in url:
        output.append(parse_blog_articles(urls))
        
    return output

In [14]:
# create a list of urls
url_list = [url1, url2, url3, url4, url5]

In [15]:
get_blog_articles(url_list)

[{'title': 'What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science',
  'published': 'Jul 7, 2022',
  'category': 'Data Science',
  'content': 'If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.*\xa0In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries.\xa0Today we will be diving into our Data Science program, with four potential job titles you could take on! Program Overview\xa0 During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions. Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\xa0 1. Data Scientist\xa0 Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to Zip Recruiter, the average entry-level salary for a Data Scientist in Texas is $60,677. 2. Data Analyst A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to Indeed, the average entry-level salary for a Data Analyst is $60,332. 3. Machine Learning Engineer\xa0 A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to Salary.com, the average entry-level salary for a ML Engineer is $115,795. 4. Business Intelligence Analyst\xa0 A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to Payscale, the average entry-level salary for a BI Analyst is $58,627. We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it.\xa0 This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life.\xa0 If you’re ready, apply today and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort.\xa0 \xa0 *Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position.'},
 {'title': 'What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science',
  'published': 'Jul 7, 2022',
  'category': 'Data Science',
  'content': 'If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.*\xa0In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries.\xa0Today we will be diving into our Data Science program, with four potential job titles you could take on! Program Overview\xa0 During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions. Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\xa0 1. Data Scientist\xa0 Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to Zip Recruiter, the average entry-level salary for a Data Scientist in Texas is $60,677. 2. Data Analyst A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to Indeed, the average entry-level salary for a Data Analyst is $60,332. 3. Machine Learning Engineer\xa0 A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to Salary.com, the average entry-level salary for a ML Engineer is $115,795. 4. Business Intelligence Analyst\xa0 A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to Payscale, the average entry-level salary for a BI Analyst is $58,627. We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it.\xa0 This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life.\xa0 If you’re ready, apply today and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort.\xa0 \xa0 *Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position.'},
 {'title': 'What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science',
  'published': 'Jul 7, 2022',
  'category': 'Data Science',
  'content': 'If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.*\xa0In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries.\xa0Today we will be diving into our Data Science program, with four potential job titles you could take on! Program Overview\xa0 During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions. Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\xa0 1. Data Scientist\xa0 Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to Zip Recruiter, the average entry-level salary for a Data Scientist in Texas is $60,677. 2. Data Analyst A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to Indeed, the average entry-level salary for a Data Analyst is $60,332. 3. Machine Learning Engineer\xa0 A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to Salary.com, the average entry-level salary for a ML Engineer is $115,795. 4. Business Intelligence Analyst\xa0 A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to Payscale, the average entry-level salary for a BI Analyst is $58,627. We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it.\xa0 This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life.\xa0 If you’re ready, apply today and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort.\xa0 \xa0 *Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position.'},
 {'title': 'What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science',
  'published': 'Jul 7, 2022',
  'category': 'Data Science',
  'content': 'If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.*\xa0In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries.\xa0Today we will be diving into our Data Science program, with four potential job titles you could take on! Program Overview\xa0 During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions. Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\xa0 1. Data Scientist\xa0 Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to Zip Recruiter, the average entry-level salary for a Data Scientist in Texas is $60,677. 2. Data Analyst A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to Indeed, the average entry-level salary for a Data Analyst is $60,332. 3. Machine Learning Engineer\xa0 A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to Salary.com, the average entry-level salary for a ML Engineer is $115,795. 4. Business Intelligence Analyst\xa0 A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to Payscale, the average entry-level salary for a BI Analyst is $58,627. We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it.\xa0 This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life.\xa0 If you’re ready, apply today and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort.\xa0 \xa0 *Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position.'},
 {'title': 'What Jobs Can You Get After a Coding Bootcamp? Part 1: Data Science',
  'published': 'Jul 7, 2022',
  'category': 'Data Science',
  'content': 'If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.*\xa0In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries.\xa0Today we will be diving into our Data Science program, with four potential job titles you could take on! Program Overview\xa0 During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions. Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\xa0 1. Data Scientist\xa0 Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to Zip Recruiter, the average entry-level salary for a Data Scientist in Texas is $60,677. 2. Data Analyst A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to Indeed, the average entry-level salary for a Data Analyst is $60,332. 3. Machine Learning Engineer\xa0 A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to Salary.com, the average entry-level salary for a ML Engineer is $115,795. 4. Business Intelligence Analyst\xa0 A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to Payscale, the average entry-level salary for a BI Analyst is $58,627. We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it.\xa0 This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life.\xa0 If you’re ready, apply today and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort.\xa0 \xa0 *Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position.'}]

---

### 2) News Articles

We will now be scraping text data from inshorts, a website that provides a brief overview of many different topics.

Write a function that scrapes the news articles for the following topics:

Business
Sports
Technology
Entertainment The end product of this should be a function named get_news_articles that returns a list of dictionaries, where each dictionary has this shape:

In [16]:
#Define individual news category urls

url1 = 'https://inshorts.com/en/read/business'
url2 = 'https://inshorts.com/en/read/sports'
url3 = 'https://inshorts.com/en/read/technology'
url4 = 'https://inshorts.com/en/read/entertainment'

#make a list of all these urls
urls = [url1, url2, url3, url4]

### URL 1

In [17]:
# set headers
headers = {'User-Agent': 'Codeup Data Science'}
response = get(url1, headers=headers)
response

In [18]:
soup = BeautifulSoup(response.content, 'html.parser')

In [19]:
#Find the title of the first article on the page
cards = soup.find('div', class_ = 'card-stack')

articles = cards.find_all('div', class_ = 'news-card')
article = articles[0]

In [20]:
#Find the title of the first article on the page
title = article.find('span', itemprop = 'headline').text
title

'Rupee hits record low of 79.97 against US dollar'

In [21]:
#Find the author of the first article
author = article.find('span', class_ = 'author').text
author

'Ridham Gambhir'

In [22]:
#Find the publication date
published = article.find('span', clas = 'date').text.split(',')[0]
published

'18 Jul 2022'

In [23]:
content = article.find('div', itemprop = 'articleBody').text
content

"The rupee hit a record low of 79.97 against the US dollar on Monday after opening at 79.76. The Finance Ministry, while speaking about the matter said that global factors such as the Russia-Ukraine war, soaring crude oil prices and tightening of global financial conditions are the major reasons for the rupee's weakening."

In [24]:
## Create function that creates a dictionary out of a single article on an inshorts.com page

def parse_news_article(article, category):
    output = {}

    output['category'] = category
    output['title'] = article.find('span', itemprop = 'headline').text.strip()
    output['author'] = article.find('span', class_ = 'author').text
    output['date'] = article.find('span', clas = 'date').text.split(',')[0]
    output['content'] = article.find('div', itemprop = 'articleBody').text

    return output

In [25]:
def parse_news_page(category):
    url = 'https://inshorts.com/en/read/' + category
    response = get(url)
    soup = BeautifulSoup(response.text)

    cards = soup.select('.news-card')
    articles = []

    for card in cards:
        articles.append(parse_news_article(card, category))

    return articles

In [26]:
parse_news_page('business')

[{'category': 'business',
  'title': 'Rupee hits record low of 79.97 against US dollar',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': "The rupee hit a record low of 79.97 against the US dollar on Monday after opening at 79.76. The Finance Ministry, while speaking about the matter said that global factors such as the Russia-Ukraine war, soaring crude oil prices and tightening of global financial conditions are the major reasons for the rupee's weakening."},
 {'category': 'business',
  'title': 'Rupee closes at an all-time low of 79.98 against US dollar',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'The rupee on Monday hit a fresh record low as it ended closer to the 80-mark to close at 79.98 against the US dollar. This was the seventh consecutive session when the rupee weakened. So far this year, the currency has weakened 7.05% against the US dollar. Meanwhile, BSE Sensex closed 760 points higher at 54,521 on Monday.'},
 {'category': 'business',
  'title': 'BCCI had ₹40 cr in bank when I joined & ₹47,680 cr when I was banned: Lalit',
  'author': 'Ridham Gambhir',
  'date': '17 Jul 2022',
  'content': 'In an Instagram post, Lalit Modi asserted that he neither took any government favour nor any bribes from anyone. He added, “I was born with a diamond spoon...When I joined BCCI, it had ₹40 crore in the bank. I joined on my birthday on November 29, 2005. Guess what was in the bank when I was banned - ₹47,680 crore."'},
 {'category': 'business',
  'title': 'A fighter to the core: Mahindra praises PV Sindhu after she wins Singapore Open',
  'author': 'Ridham Gambhir',
  'date': '17 Jul 2022',
  'content': 'Businessman Anand Mahindra took to Twitter to praise PV Sindhu after she won the Singapore Open. Sharing a tweet by Doordarshan Sports which had an old image of Sindhu, Mahindra wrote, "That’s not just her facial expression, but the expression of her soul. A fighter to the core...Never getting demoralised by a slump. Teaching us how to rise again."'},
 {'category': 'business',
  'title': 'RBI is of the view that cryptocurrencies should be prohibited: FM Sitharaman',
  'author': 'Hiral Goyal',
  'date': '18 Jul 2022',
  'content': 'The Reserve Bank of India (RBI) has recommended to the government that it should frame regulations for cryptocurrencies and is of the view that they should be prohibited, Finance Minister Nirmala Sitharaman said. Citing the borderless nature of cryptocurrencies, she further said that any legislation for regulation or for banning can be effective only after significant international collaboration.'},
 {'category': 'business',
  'title': 'It is not a sacrifice at all: Bill Gates on plan to give away all his wealth',
  'author': 'Hiral Goyal',
  'date': '17 Jul 2022',
  'content': 'Microsoft Co-founder Bill Gates, who plans to give away all his wealth, said, "My giving this money is not a sacrifice at all." He added, "I feel privileged to be involved in tackling these great challenges...and I believe I have an obligation to return my resources to society." Gates is currently the world\'s fourth richest person with $113 billion wealth.'},
 {'category': 'business',
  'title': "11 SEBI officials' email accounts hacked & used to send 34 emails, FIR filed",
  'author': 'Hiral Goyal',
  'date': '17 Jul 2022',
  'content': 'Mumbai police has filed an FIR after the Securities and Exchange Board of India (SEBI) approached them, alleging the email accounts of its 11 officials had been hacked and used to send as many as 34 emails by unknown persons. "It was a small incident. CERT-IN is fully in the loop. No sensitive data was lost," the markets regulator said.'},
 {'category': 'business',
  'title': "How a startup should operate: Mahindra on old video of Man City's 44-pass goal",
  'author': 'Hiral Goyal',
  'date': '17 Jul 2022',
  'content': 'Businessman Anand Mahindra took to Twitter to share a 2018 video of Manchester City\'s 44-pass goal against Manchester United and wrote, "A lesson in teamwork...But also an analogy for how a startup...needs to operate." He further said that success comes from going "back and forth, trying new angles of approach and going for the kill when strategic path is clear".'},
 {'category': 'business',
  'title': "Ex-NSE CEO Chitra's remand extended by 4 days in money laundering case",
  'author': 'Shreyasi Banerjee',
  'date': '18 Jul 2022',
  'content': "A Delhi court has extended the four-day remand of former CEO and MD of National Stock Exchange (NSE), Chitra Ramkrishna, in a money laundering case. The case involves alleged phone tapping and snooping of NSE's employees. Earlier, the Enforcement Directorate and CBI registered two more cases against Ramkrishna, former NSE head Ravi Narain and former Mumbai Police Commissioner Sanjay Pandey."},
 {'category': 'business',
  'title': 'Which household items will get costlier from tomorrow due to changes in GST rules?',
  'author': 'Hiral Goyal',
  'date': '17 Jul 2022',
  'content': "Pre-packaged and labelled food items like curd, lassi and buttermilk will get costlier from July 18 as they'll attract 5% GST. Jaggery, khandsari sugar, puffed rice will no longer be exempt from GST. Kitchen utensils like knives, spoons, forks, and stationery items like pencil sharpeners, maps, globes and electrical appliances such as LED lights and fixtures will also get costlier."},
 {'category': 'business',
  'title': "Lalit shares pics with PM Modi & others amid trolling, says 'was born with diamond spoon'",
  'author': 'Arshiya Chopra',
  'date': '17 Jul 2022',
  'content': 'While criticising people trolling him over his relationship with Sushmita Sen, Lalit Modi shared old pictures with PM Narendra Modi, Amit Shah, UK Prince Charles, Dalai Lama, Nelson Mandela among other personalities. He said he doesn\'t care about people calling him a fugitive, adding, "I was born with a \'diamond spoon\'. I didn\'t take a bribe or ever needed to."'},
 {'category': 'business',
  'title': "Sunak praises father-in-law Narayana Murthy, says 'His firm employs thousands in UK'",
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'One of the frontrunners for the UK PM\'s post, Rishi Sunak, said he is proud of what his parents-in-law built. Speaking about Infosys Founder NR Narayana Murthy, Sunak said, "My father-in-law came from...nothing and just had a dream and a couple of hundred pounds [from my] mother-in-law\'s savings…He...built one of the world\'s largest...companies that...employs thousands of people...in the UK."'},
 {'category': 'business',
  'title': 'Saudi Arabia doubled Russian oil imports in Q2, freeing up own oil for exports: Report',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': "The world's largest oil exporter, Saudi Arabia, more than doubled its Russian oil imports in the second quarter, enabling it to free up its own crude for export, as per data accessed by Reuters. It imported 6,47,000 tonnes of Russian oil from April to June. Russia has been selling fuel at discounted prices amid Western sanctions over the Ukraine war."},
 {'category': 'business',
  'title': 'New Zealand inflation surges to 7.3%, highest since 1990',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'Inflation in New Zealand has surged at its fastest pace in over three decades. As per official data, the Consumer Price Index increased 7.3% in the second quarter, up from 6.9% in the first quarter and the fastest since the June quarter of 1990 when prices rose 7.6%. Economists had predicted that inflation would come in at 7% or 7.1%.'},
 {'category': 'business',
  'title': "Bill & Melinda Gates Foundation's half resources have come from Warren: Bill Gates",
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'In a blog, Microsoft Co-founder Bill Gates said that though the foundation is named Bill & Melinda Gates Foundation, "half of its resources to date have come from Warren Buffett\'s gifts". Gates wrote, "Since 2006, Warren has gifted the foundation $35.7 billion, including his most recent gift of $3.1 billion in June."'},
 {'category': 'business',
  'title': 'No GST on pre-packed, labelled food items weighing over 25 kg: Finance Ministry',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'The Finance Ministry has clarified that single packages of pre-packed and labelled food items like cereals and pulses weighing over 25 kg are exempt from 5% GST. It added that if a retail shopkeeper supplies an item in a loose quantity that was bought in a 25-kg pack from a manufacturer, its sale to the consumer will not attract GST.'},
 {'category': 'business',
  'title': "Plea to stop SpiceJet's operations amid recent mishaps dismissed by Delhi HC",
  'author': 'Hiral Goyal',
  'date': '18 Jul 2022',
  'content': "The Delhi High Court dismissed a plea seeking to stop the operations of SpiceJet over recent technical snags. The plea cited several incidents involving SpiceJet flights and claimed that passengers' lives are at risk due to their improper management. The DGCA has taken note of incidents involving SpiceJet flights and is free to proceed on its own, the court noted."},
 {'category': 'business',
  'title': 'Fortune cooking oil prices cut by up to ₹30 per litre by Adani Wilmar',
  'author': 'Sakshita Khosla',
  'date': '18 Jul 2022',
  'content': "Prices of one of the most popular Indian edible oil brands Fortune have been cut by up to ₹30 per litre amid a fall in global prices. This is the second oil price reduction announced by the brand's maker Adani Wilmar in two months. Prices of soyabean and sunflower oils have been cut to ₹165 and ₹195 per litre, respectively."},
 {'category': 'business',
  'title': 'SEBI clears appointment of BSE chief Ashish Chauhan as new NSE CEO & MD',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'The Securities and Exchange Board of India has approved the appointment of Ashish Kumar Chauhan as the new MD and CEO of the NSE. Chauhan is currently the MD and CEO of the BSE and will replace Vikram Limaye whose term ended as NSE chief on July 16. The appointment is subject to Chauhan accepting the offer. '},
 {'category': 'business',
  'title': 'What goods & services get cheaper as new GST rates come into effect today?',
  'author': 'Ridham Gambhir',
  'date': '18 Jul 2022',
  'content': 'Electric vehicles, whether or not fitted with a battery pack, will be eligible for the concessional GST rate of 5% from July 18. GST on renting trucks, and goods carriages (where the cost of fuel is included) will be cut to 12% from 18%. GST on ostomy appliances and orthopaedic equipment like splints will be reduced from 12% to 5%.'},
 {'category': 'business',
  'title': 'HUL, ITC, United Spirits added 130 execs to crorepati club last fiscal: Report',
  'author': 'Hiral Goyal',
  'date': '18 Jul 2022',
  'content': 'Hindustan Unilever (HUL), ITC and United Spirits together added over 130 executives to the club of those earning more than ₹1 crore annually during the last fiscal, The Economic Times reported. United Spirits witnessed a massive jump of 113%, whereas HUL and ITC saw 33% and 44% increase in the number of eight-figure salary earners, as per their annual reports.'},
 {'category': 'business',
  'title': 'Pakistani rupee falls to all-time low of 212 against US dollar',
  'author': 'Anmol Sharma',
  'date': '18 Jul 2022',
  'content': 'The Pakistani rupee has dropped to a record low against the US dollar with the exchange rate sliding to PKR 212, local media reported on Monday. This fall in the value came after traders resorted to panic buying on reports that some commercial banks had run out of foreign currency, reports stated.'},
 {'category': 'business',
  'title': 'Scindia chairs meet with heads of airline companies on safety issues',
  'author': 'Subhangi Singh',
  'date': '18 Jul 2022',
  'content': 'Civil Aviation Minister Jyotiraditya Scindia chaired a one-on-one meeting with heads of airline companies on Monday to review flight safety norms. The Aviation Ministry also issued instructions to each airline to take steps at all levels to enhance security surveillance. These steps come after a few Indian airlines reported back-to-back incidents of emergency landings due to technical issues.'},
 {'category': 'business',
  'title': "Hyd authority's one-time scheme offers 90% waiver on property tax arrears",
  'author': 'Subhangi Singh',
  'date': '18 Jul 2022',
  'content': 'The Telangana government has announced a one-time scheme (OTS) for clearing pending property tax arrears within Greater Hyderabad Municipal Corporation (GHMC) limits and all other urban local bodies. The scheme will allow a waiver of 90% on interest payment, provided that the principal amount plus 10% of interest on accumulated arrears is paid in one go for financial year 2021-22.'},
 {'category': 'business',
  'title': '6 of top 10 most valued firms lost ₹1.68 lakh crore in m-cap last week',
  'author': 'Ridham Gambhir',
  'date': '17 Jul 2022',
  'content': 'Among the 10 most valued firms, six companies suffered a combined loss of ₹1.68 lakh crore in their market valuation last week. While TCS took the biggest hit as its market valuation declined by ₹99,270.07 crore to reach ₹10,95,355.32 crore, it was followed by Infosys, whose valuation dropped by ₹35,133.64 crore to ₹6,01,900.14 crore.'}]

In [27]:
# cache the data, and turn it into a dataframe (function)
def get_news_articles(use_cache=True):
    if os.path.exists('news_articles.json') and use_cache:
        return pd.read_json('news_articles.json')

    categories = ['business', 'sports', 'technology', 'entertainment']

    articles = []

    for category in categories:
        print(f'Getting {category} articles')
        articles.extend(parse_news_page(category))

    df = pd.DataFrame(articles)
    df.to_json('news_articles.json', orient='records')
    return df